<h1>Zones</h1>

<section class="zones">
  <ul>
    <% @zones.each do |zone| %>
      <li>
        <%= content_tag :h2, zone.name %>
        <%= link_to "Modifier", edit_zone_path(zone) %>
        <% if zone.sprinkles.active.any? %>
          <p> Currently working</p>
          <%= button_to "Close", zone.sprinkles.active.first, method: :delete, remote: true %>
        <% else %>
          <%= form_for [zone, zone.sprinkles.build], builder: SprinkleBuilder, remote: true do |f| %>
            <%= f.duration %>Secondes
            <%= f.submit 'create' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to "Créer une nouvelle zone", new_zone_path, class: %w(new zone) %>
