<h1>Zones</h1>

<section class="zones">
  <ul>
    <% @zones.each do |zone| %>
      <li>
        <%= content_tag :h2, link_to(zone.name, edit_zone_path(zone)) %>
        <% if zone.sprinkles.active.any? %>
          <%= render 'sprinkles/remaining', sprinkle: zone.sprinkles.active.first %>
        <% else %>
          <%= form_for [zone, zone.sprinkles.build], builder: SprinkleBuilder, remote: true, html: {class: %w(sprinkle) } do |f| %>
            <div class="action">
              <%= f.submit 'Ouvrir pour' %>
              <%= f.duration %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to "Créer une nouvelle zone", new_zone_path, class: %w(new zone) %>
